<header id="vl-masthead" class="vl-site-header">
            <div class="vl-top-header">
                <div class="vl-container clearfix">
                    <div class="vl-top-left-header">
                        <div class="vl-menu">
                            <ul id="menu-top-header-menu" class="vl-clearfix">
                                <li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-430"><a href="{{site.url}}/" aria-current="page">Home</a></li>
                                <li id="menu-item-568" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-568"><a href="{{site.url}}/contact/">Contact</a></li>
                                <li id="menu-item-440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-440"><a href="{{site.url}}/privacy-policy/">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="vl-top-right-header"><a class="vl-facebook" href="#" target="_blank"><i class="fa fa-facebook"></i></a><a class="vl-twitter" href="#" target="_blank"><i class="fa fa-twitter"></i></a><a class="vl-pinterest" href="#" target="_blank"><i class="fa fa-pinterest"></i></a><a class="vl-youtube" href="#" target="_blank"><i class="fa fa-youtube"></i></a><a class="vl-instagram" href="#" target="_blank"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="vl-header">
                <div class="vl-container clearfix">
                    <div id="vl-site-branding">
                        <a href="{{site.url}}/" class="custom-logo-link" rel="home"><img width="168" height="55" src="{{site.url}}/contents/uploads/logo.png" class="custom-logo" alt=""></a>
                    </div>
                    <div class="vl-header-ads">
                        <aside id="custom_html-3" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div id="top_720"></div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <nav id="vl-site-navigation" class="vl-main-navigation">
                <div class="vl-toggle-menu"><span></span></div>
                <div class="vl-menu vl-clearfix">
                    <ul id="menu-primary-menu" class="vl-clearfix">
                        <li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-8 current_page_item menu-item-427"><a href="{{site.url}}/" aria-current="page">Home</a></li>
                        <li id="menu-item-1626" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1626"><a href="{{site.url}}/search/?cat=news">News</a></li>
                        <li id="menu-item-1627" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1627"><a href="{{site.url}}/search/?cat=fun">ENTERTAINMENT</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1628" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1628"><a href="{{site.url}}/search/?cat=music">Music</a></li>
                                <li id="menu-item-1629" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1629"><a href="{{site.url}}/search/?cat=videogames">Videogames</a></li>
                                <li id="menu-item-1630" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1630"><a href="{{site.url}}/search/?cat=people">People</a></li>
                                <li id="menu-item-1631" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1631"><a href="{{site.url}}/search/?cat=lifestyle">Lifestyle</a></li>
                                <li id="menu-item-1632" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1632"><a href="{{site.url}}/search/?cat=travel">Travel</a></li>
                                <li id="menu-item-1633" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1633"><a href="{{site.url}}/search/?cat=shortfilms">Shortfilms</a></li>
                                <li id="menu-item-1640" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1640"><a href="{{site.url}}/search/?cat=tv">Tv</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1634" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1634"><a href="{{site.url}}/search/?cat=auto">Auto</a></li>
                        <li id="menu-item-1636" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-1636"><a href="{{site.url}}/search/?cat=school">School</a>
                            <ul class="sub-menu">
                                <li id="menu-item-1637" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1637"><a href="{{site.url}}/search/?cat=kids">Kids</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1638" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1638"><a href="{{site.url}}/search/?cat=tech">Tech</a></li>
                        <li id="menu-item-1639" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1639"><a href="{{site.url}}/search/?cat=sport">Sport</a></li>
                    </ul>
                </div>
            </nav><img src="{{site.url}}/contents/ui/viral/images/shadow.png" alt=""></header>